/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 5px 10px;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

body {
	background: url('../img/tileable_wood_texture.png'), repeat;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 3px solid #aaa;
	float: left;
	margin: 10px 10px 0px 0px;
	height: 100px;
	width: 100px;
}

h1 {
	font-family: 'Tienne', serif;
	font-weight: 700;
	font-size: 4em;
	margin: 5px 0px;
}

h2 {
	font-family: 'Duru Sans', sans-serif;

}

h3 {
	font-family: 'Tienne', serif;
	font-weight: 400;
}

p{
	font-family: 'Duru Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ff9000;
}

a:hover{
	color: #0a64a4;
}

a:visited{
	color: #0a64a4;
}
/* Classes for colors and bgs */

.logo {
	width: 100%;
}
.paper{
	background: url('../img/lightpaperfibers.png'), repeat;
	border-radius: 0 9px 0 9px;
}

.color-1 {
	background: #ff4500;
}

.color-2{
	background: #0a64a4;
}

.color-3 {
	background: #a62d00;
}

.color-4 {
	background: #ff9000;
}

.pattern-1 {
	background: url('../img/tileable_wood_texture.png'), repeat;
}

.pattern-2 {
	background: url('../img/lightpaperfibers.png'), repeat;
}

.pattern-3 {
	background: url('../img/black_paper.png'), repeat;
}

/* Show Grid */